h3
  = @event.name

= flash[:notice]

= @event.description
br
= link_to @event.venue.name, @event.venue
br
= @event.date_and_time.strftime("%a, %b %e, %l:%M %p")
br

- if allow?(:events, :edit, @event)
  = link_to 'Edit Event', edit_event_path(@event)
br
- if allow?(:events, :destroy)
  = link_to "Delete Event", @event, method: :delete, data: { confirm: "Are you sure?" }

